<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charging Station Requirement Prediction</title>
</head>

<body>

    <h1>Charging Station Requirement Prediction</h1>

    <p>
        Enter the required details to predict the number of
        Public Charging Stations.
    </p>

    <form action=" " method="POST">

        <h2>State Information</h2>

        <label for="state">State Name:</label>
        <select name="State Name" id="state" required>

            <option value="">Select State</option>

            <option value="0">Andaman and Nicobar Island</option>
            <option value="1">Andhra Pradesh</option>
            <option value="2">Arunachal Pradesh</option>
            <option value="3">Assam</option>
            <option value="4">Bihar</option>
            <option value="5">Chandigarh</option>
            <option value="6">Chhattisgarh</option>
            <option value="7">
                Dadra and Nagar Haveli and Daman and Diu
            </option>
            <option value="8">Delhi</option>
            <option value="9">Goa</option>
            <option value="10">Gujarat</option>
            <option value="11">Haryana</option>
            <option value="12">Himachal Pradesh</option>
            <option value="13">Jammu and Kashmir</option>
            <option value="14">Jharkhand</option>
            <option value="15">Karnataka</option>
            <option value="16">Kerala</option>
            <option value="17">Ladakh</option>
            <option value="18">Lakshdweep</option>
            <option value="19">Madhya Pradesh</option>
            <option value="20">Maharashtra</option>
            <option value="21">Manipur</option>
            <option value="22">Meghalaya</option>
            <option value="23m">Mizoram</option>
            <option value="24">Nagaland</option>
            <option value="25">Odisha</option>
            <option value="26">Puducherry</option>
            <option value="27">Punjab</option>
            <option value="28">Rajasthan</option>
            <option value="29">Sikkim</option>
            <option value="30">Tamil Nadu</option>
            <option value="31">Telangana</option>
            <option value="32">Tripura</option>
            <option value="33">Uttar Pradesh</option>
            <option value="34">Uttarakhand</option>
            <option value="35">West Bengal</option>

        </select>

        <br><br>


        <h2>Vehicle Information</h2>

        <label for="two_wheeler">Two Wheeler:</label>
        <input
            type="number"
            id="two_wheeler"
            name="Two Wheeler"
            min="0"
            required
        >

        <br><br>

        <label for="three_wheeler">Three Wheeler:</label>
        <input
            type="number"
            id="three_wheeler"
            name="Three Wheeler"
            min="0"
            required
        >

        <br><br>

        <label for="four_wheeler">Four Wheeler:</label>
        <input
            type="number"
            id="four_wheeler"
            name="Four Wheeler"
            min="0"
            required
        >

        <br><br>

        <label for="goods_vehicles">Goods Vehicles:</label>
        <input
            type="number"
            id="goods_vehicles"
            name="Goods Vehicles"
            min="0"
            required
        >

        <br><br>

        <label for="public_service">Public Service Vehicle:</label>
        <input
            type="number"
            id="public_service"
            name="Public Service Vehicle"
            min="0"
            required
        >

        <br><br>

        <label for="special_category">Special Category Vehicles:</label>
        <input
            type="number"
            id="special_category"
            name="Special Category Vehicles"
            min="0"
            required
        >

        <br><br>

        <label for="construction">Construction Equipment Vehicle:</label>
        <input
            type="number"
            id="construction"
            name="Construction Equipment Vehicle"
            min="0"
            required
        >

        <br><br>

        <label for="other">Other:</label>
        <input
            type="number"
            id="other"
            name="Other"
            min="0"
            required
        >

        <br><br>


        <h2>Total Information</h2>

        <label for="grand_total">Grand Total:</label>
        <input
            type="number"
            id="grand_total"
            name="Grand Total"
            min="0"
            required
        >

        <br><br>

        <label for="population">Total Population:</label>
        <input
            type="number"
            id="population"
            name="Total Population"
            min="0"
            required
        >

        <br><br>

        <button type="submit">
            Predict Charging Station Requirement
        </button>

    </form>

</body>
</html>